<md-toolbar class="md-hue-2 ww-header__main">
  <div class="md-toolbar-tools" layout="row" layout-align="center center">
    <a href="https://wikimedia.pl" class="wikimedia">
      <img
        class="ww-header__logo dark-logo img-long" crossorigin="anonymous"
        src="https://upload.wikimedia.org/wikipedia/commons/0/0e/Wikimedia_Polska_logo_black_horizontal.svg"
        alt="Wikimedia Polska"
      />
      <img
        class="ww-header__logo dark-logo img-short" crossorigin="anonymous"
        src="https://upload.wikimedia.org/wikipedia/commons/8/8b/Wikimedia-logo_black.svg"
        alt="Wikimedia Polska"
      />
    </a>
    <a href="https://wikimedia.pl/zabytki">
      <img
        class="ww-header__logo app-img-long" crossorigin="anonymous"
        src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Lusitana_WLM_WLZ_horizontal.svg"
        alt="Wiki Lubi Zabytki"
      />
      <img
        class="ww-header__logo app-img-short" crossorigin="anonymous"
        src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Wiki_Loves_Monuments_Logo_notext.svg"
        alt="Wiki Lubi Zabytki"
      />
    </a>
    <span flex></span>
    <input
      class="ww-header__search"
      flex="66"
      flex-xs="100"
      type="text"
      placeholder="{{ ::$ctrl.text.SEARCH_PLACEHOLDER }}"
      ng-model="$ctrl.searchInput"
      ng-change="$ctrl.search()"
      ng-focus="$ctrl.search(); $ctrl.activateSearch()"
      ng-blur="$ctrl.deactivateSearch()"
      ng-model-options="{ debounce: 200 }"
    />
    <md-button
      class="md-icon-button ww-header__search-clear"
      ng-if="$ctrl.searchInput"
      ng-click="$ctrl.clearSearch()"
    >
      <md-icon>close</md-icon>
    </md-button>
    <div class="ww-header__search-results">
      <div
        class="ww-header__search-result"
        layout="column"
        layout-align="start stretch"
        ng-repeat="result in $ctrl.searchResults"
        ng-click="$ctrl.showOnMap(result)"
      >
        <strong>{{ result.name }}</strong>
        <small>{{ result.details }}</small>
      </div>
    </div>
  </div>
</md-toolbar>
<md-toolbar
  class="md-hue-2 ww-header__buttons-toolbar"
  layout="row"
  layout-align="center center"
  ng-if="false"
>
  <md-button
    class="ww-header__button ww-header__button--nature"
    flex="33"
    ng-click="$ctrl.changeVersion('nature')"
  >
    <md-icon hide-xs>cloud</md-icon>
    <span>{{ ::$ctrl.text.HEADER_NATURE }}</span>
  </md-button>
  <md-button
    class="ww-header__button ww-header__button--monuments"
    flex="33"
    ng-click="$ctrl.changeVersion('monuments')"
  >
    <md-icon hide-xs>account_balance</md-icon>
    <span>{{ ::$ctrl.text.HEADER_MONUMENTS }}</span>
  </md-button>
  <md-button
    class="ww-header__button ww-header__button--art"
    flex="33"
    ng-click="$ctrl.changeVersion('art')"
  >
    <md-icon hide-xs>extension</md-icon>
    <span>{{ ::$ctrl.text.HEADER_ART }}</span>
  </md-button>
</md-toolbar>
