@import "../../styles/responsive";

@import "toolbar.css";

ww-header {
  .ww-header__main {
    min-height: 60px;
    background: white !important;

    .md-toolbar-tools {
      height: 60px;
      min-height: 60px;
      padding: 0;
    }
  }

  .ww-header__logo {
    // width: 50px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;

    &.img-short {
      @media (min-width: 890px) {
        display: none;
      }
    }
    &.img-long {
      @media (max-width: 891px) {
        display: none;
      }
    }
  }
  a.wikimedia {
    @media (max-width: 700px) {
      display: none;
    }
  }
  .app-img-short {
    display: none;
  }
  // hide long logo on small screen, but only when search was activated
  @media (max-width: 500px) {
    .search-wasactive & {
      .app-img-long {
        display: none;
      }
      .app-img-short {
        display: inline-block;
      }
    }
  }

  .ww-header__title {
    color: #1d1d1d;
    font-size: 17px;
    font-weight: bold;
    line-height: 50px;
  }

  .ww-header__buttons-toolbar {
    z-index: 1;
    min-height: 60px;
  }

  .ww-header__search {
    height: 100%;
    border: 0;
    padding: 10px 15px;
    background: white;
    color: gray;
    font-family: "Open Sans", sans-serif;

    &:focus {
      outline: 0;
      background: white;
      color: black;
    }

    @include x-small {
      font-size: 18px;
    }
  }

  .ww-header__search-clear {
    position: absolute;
    right: 5px;
  }

  .ww-header__search:focus + .ww-header__search-clear .material-icons {
    color: black;
  }

  .ww-header__search-results {
    position: fixed;
    z-index: 10;
    top: 60px;
    right: 0;
    width: 600px;
    background: #eee;
    color: #1d1d1d;

    @include x-small {
      max-width: 100%;
    }
  }

  .ww-header__search-result {
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
      background: #efefef;
    }
    small {
      opacity: 0.7;
    }
  }

  .ww-header__button {
    margin: 0;
    padding: 12px;
    border-radius: 0;
    font-weight: 600;
    font-size: 18px;

    @include x-small {
      font-size: 14px;
    }
  }
  .ww-header__button--monuments {
    background: #3498db;
  }
  .ww-header__button--nature {
    background: #2ecc71;
  }
  .ww-header__button--art {
    background: #9b59b6;
  }
}
