@import "../../styles/responsive";

ww-sidebar {
  position: relative;
  background: white;

  display: flex;
  flex-direction: column;
  .ww-cards {
    flex: 1;
  }

  .ww-sidebar-info {
    padding: 25px 10px;
    color: #757575;
    opacity: 0.5;
    text-align: center;

    .material-icons {
      font-size: 50px;
      height: auto;
      width: auto;
      display: block;
    }
  }

  .ww-cards {
    overflow: auto;
    width: 100%;
    background: #ededed;
  }

  .ww-cards--loading {
    z-index: 5;
    position: absolute;
    width: 100%;
    background: #ededed;
  }

  .ww-sidebar-options {
    border-top: 4px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: .5em;
    @include x-small {
      gap: 0;
    }
    flex-direction: column;
    font-weight: bold;
    // & > * {
    //   margin: 0;
    //   padding: 0;
    // }
    md-switch {
      margin-left: 1em;
      margin-block: 0;
      padding-block: .4em;

      white-space: normal;
      display: flex;
      gap: .7em;
      .md-container {
        width: 35px;
        flex-shrink: 0;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }
    }
  }

  .ww-button-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    .md-button {
      min-width: 0;
      text-align: left;
    }
  }
}
