<!DOCTYPE html>
<html>
  <head lang="pl">
    <meta charset="UTF-8" />
    <title>Wiki Lubi Zabytki | Wikimedia Polska</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="author" content="Wikimedia Polska" />
    <meta property="og:title" content="Wiki Lubi Zabytki" />
    <meta property="og:type" content="website" />
    <meta
      property="article:author"
      content="https://www.facebook.com/WikimediaPolska/"
    />
    <meta
      property="og:description"
      content="Rób zdjęcia, zgarniaj nagrody, pomóż budować Wikipedię"
    />
    <meta property="og:image" content="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/LUSITANA_WLM_2011_WLZ.svg/351px-LUSITANA_WLM_2011_WLZ.svg.png" />

    <link rel="preconnect" href="https://maps.wikimedia.org/" crossorigin />
    <link rel="dns-prefetch" href="https://maps.wikimedia.org/" />
    <link rel="preconnect" href="https://query.wikidata.org/" crossorigin />
    <link rel="dns-prefetch" href="https://query.wikidata.org/" />
    <link rel="preconnect" href="https://upload.wikimedia.org/" crossorigin />
    <link rel="dns-prefetch" href="https://upload.wikimedia.org/" />
    <link rel="preconnect" href="https://tools-static.wmflabs.org/" crossorigin />
    <link rel="dns-prefetch" href="https://tools-static.wmflabs.org/" />

    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/c/ca/Wiki_Loves_Monuments_Logo_notext.svg" type="image/svg+xml">
  </head>

  <body ng-app="app" ng-cloak>
    <ww-main></ww-main>
  </body>
</html>
